{% extends 'bootstrap.html' %}

{% load django_bootstrap5 %}

{% block bootstrap5_content %}
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">About</a></li>
                </ul>

                <div class="text-end">
                    {% if not user.is_authenticated %}
                    <a href="{% url "login" %}" type="button" class="btn btn-outline-light me-2">Login</a>
                    <a href="#" type="button" class="btn btn-warning">Sign-up</a>
                    {% else %}
                    <a href="{% url "logout" %}" type="button" class="btn btn-secondary me-2">Logout</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}<p>(no content)</p>{% endblock %}
    </div>
{% endblock %}
