{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}

<div class="container-sm mx-auto d-flex flex-column min-vh-100 justify-content-center align-items-center" style="max-width: 330px;">
    {% if form.errors %}
    <div class="alert alert-secondary" role="alert">
	There was an error creating the User. Please see details below.
    </div>
    {% endif %}
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
	{% bootstrap_form form %}
        <input class="w-100 btn btn-lg btn-primary" type="submit" value="Register">
    </form>
</div>
{% endblock %}
